<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casino.modules.partner.mapper.NoteMapper">

	<sql id="sendListWhere">
		n.type = #{form.type}
		<choose>
			<when test="form.selectType == selectType1">
				 AND m.account_holder LIKE CONCAT('%',#{form.keyword},'%')
			</when>
			<when test="form.selectType == selectType2">
				 AND m.id LIKE CONCAT('%',#{form.keyword},'%')
			</when>
			<when test="form.selectType == selectType3">
				 AND m.nickname LIKE CONCAT('%',#{form.keyword},'%')
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</sql>
		
	<select id="getSendList" resultType="com.casino.modules.partner.common.entity.Note">
		SELECT n.*, m.nickname, m.account_holder, m.id AS "mId"
		FROM note n
		LEFT JOIN member m ON m.seq = n.receiver
		<where>
			<include refid="sendListWhere"/>
		</where>
		ORDER BY n.send_time DESC
	</select>
	<select id="getNoteContentBySeq" resultType="java.lang.Boolean">
		SELECT n.seq as seq, n.title as title, n.content as content
		FROM note n
		WHERE n.seq = #{seq}
	</select>
	
	<select id="getNoticeList" resultType="com.casino.modules.partner.common.entity.Note" >
		SELECT * 
		FROM note n
		WHERE
			n.classification = #{note.classification}
			AND n.type = #{note.type}
		ORDER BY
			n.send_time
	</select>
	
	<update id="changeReadStatusAll">
		UPDATE note
		SET read_status = 1
	</update>
	
	<update id="removeAll">
		DELETE 
		FROM note 
		WHERE type = 0
	</update>
	
	<select id="getUnReadNoteCnt" resultType="java.lang.Integer">
		SELECT 
			COUNT(*)
		FROM 
			note n
		WHERE
			n.receiver = #{seq}
			AND n.read_status = 0
	</select>
	
	<update id="readAll">
		UPDATE note
		SET read_status = 1
	</update>
</mapper>