.search-form.form-inline {
    padding: 10px 10px 0 10px;
    border: 1px solid #DADADA;
    margin-bottom: 10px;
}
.search-form .form-group {
    margin-bottom: 10px !important;
}

.store .store-list th {
    text-align: center;
}

.store .store-list td {
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.store-list td > p {
    border-top: 1px solid #dadada;
    padding: 8px;
    margin: 0;
}

.store .store-list td > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.money-payment {
	color: red;
}

.member-detail {
	cursor: pointer;
	color: slateblue;
	font-weight: bold;
}

@media (min-width: 992px) {
    #memberListModal .modal-lg {
        width: 80% !important;
    }
}

@media (min-width: 992px) {
    #deputyHeadquarterDetailModal .modal-lg {
        width: 60% !important;
    }
}

@media (min-width: 992px) {
    #partnerDistributorDetailModal .modal-lg {
        width: 60% !important;
    }
}

@media (min-width: 992px) {
    #partnerStoreDetailModal .modal-lg {
        width: 60% !important;
    }
}

.vertical-center {
	vertical-align: middle !important
}

.store .store-list .text-blue {
	color: blue;
}
