<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (|#{partner.common.sub}| + ' ' + |#{partner.common.store}| + ' ' + |#{partner.common.list}|)"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/partner/store.css}"/>
	<body>
		<section class="body store">
		    <div class="main" id="storeListModal">
		    	<section role="main" class="content-body">
		    		<section class="panel" role="main">
			    		<header class="pannel-heading">
	                        <i class="fa fa-caret-square-o-right text-primary"></i>
	                        <span id="headquarterId" th:text="${Id}"></span>
	                        [[#{partner.common.sub}]] [[#{partner.common.store}]]&nbsp;[[#{partner.common.list}]]
		                </header>
	                	<div class="panel-body">
		                	<form class="form-inline search-form" th:action="@{/partner/shopMember}" id="formSearch" method="get" th:object="${store}">
		                        <div class="form-group">
		                        	<input type="hidden" class="headquarterSearchSeq" name="seq" th:field="*{seq}"/>
		                        	<input type="hidden" name="userType" th:value="${userType}"/>
		                            <label class="control-label">
		                                <i class="fa fa-search" style="background-color: #0088cc;color: white;padding: 2px;"></i>
		                                <span th:text="#{partner.headquarter.queryDate}"></span>
		                            </label>
		                            <div class="input-daterange input-group" data-plugin-datepicker data-date-format="yyyy-mm-dd">
	                                    <span class="input-group-addon">
	                                        <i class="fa fa-calendar"></i>
	                                    </span>
		                                <input type="text" class="form-control"  name="fromApplicationTime" th:field="*{fromApplicationTime}">
		                                <span class="input-group-addon">~</span>
		                                <input type="text" class="form-control" name="toApplicationTime" th:field="*{toApplicationTime}">
		                            </div>
		                       </div>
		                       <div class="form-group">
		                           <button class="btn btn-default searchDistributorList">
		                           	   <span th:text="#{partner.common.search}"></span>
		                               <i class="fa fa-search"></i>
		                           </button>
		                       </div>
		                   	</form>
							<div class="table-responsive">
		                       <table class="table store-list-popup" id="store-modal-list">
		                           <thead>
		                           	<tr>
		                            	<th th:text="#{partner.common.distributor}"> Distributor </th>
		                                <th th:text="#{partner.common.store}"> Store </th>
										<th th:text="#{partner.common.nickname}"> Nickname </th>
										<th th:text="#{partner.common.member}"> Members </th>
										<th th:text="#{partner.statistic.depositMember}"> Deposit Member </th>
										<th th:text="#{partner.common.deposit.partner.payment}"> Deposit [Partner] (Payment) </th>
										<th th:text="#{partner.common.withdrawal.partner.payment} + ')'"> Withdrawal [Partner] (Payment) </th>
										<th th:text="#{partner.member.differenceOfDepositAndWithdraw}"> Difference between Deposit and Withdrawal </th>
										<th th:text="#{partner.store.storeSummary}"> Store Summary </th>
										<th th:text="#{partner.common.type}"> Type </th>
										<th th:text="#{partner.common.betAmount}"> Bet Amount </th>
										<th th:text="#{partner.bettingSummary.winningAmount}"> Winning Amount </th>
										<th th:text="#{partner.common.lost.amount}"> Lost Amount </th>
										<th th:text="#{partner.store.batRolling}"> Bat Rolling </th>
										<th th:text="#{partner.store.settlementRate}"> Settlement Rate </th>
										<th th:text="#{partner.common.surcharge}">Surcharge</th>
										<th th:text="#{partner.store.processedRollingGold}"> Processed Rolling Gold </th>
										<th th:text="#{partner.common.status}"> Status </th>
	                        	   	</tr>
		                           </thead>
		                           <tbody>
		                           	<tr th:each="entity, stat : ${storeList}">
		                           		<input type="hidden" class="store-seq" th:data-key="${entity.seq}"/>
	                                   	<td th:text="${entity.distributor}"></td>
	                                   	<td th:text="${entity.id}"></td>
										<td th:text="${entity.nickname}"></td>
										<td th:text="${entity.memberCount}" th:data-key="${entity.id}"></td>
										<td th:text="${entity.depositMemberCount}"></td>
										<td>
											<span th:text="${#numbers.formatDecimal(entity.depositMemberAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(entity.depositPartnerAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(entity.depositPayment, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<span th:text="${#numbers.formatDecimal(entity.withdrawalMemberAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(entity.withdrawalPartnerAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(entity.withdrawalPayment, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<span th:class="${(entity.depositMemberAmount - entity.withdrawalMemberAmount) eq 0 ? '' : 'text-blue'}" th:text="${#numbers.formatDecimal((entity.depositMemberAmount - entity.withdrawalMemberAmount), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br/>
											<span th:class="${(entity.depositPartnerAmount - entity.withdrawalPartnerAmount) eq 0 ? '' : 'text-blue'}" th:text="${'[' + #numbers.formatDecimal((entity.depositPartnerAmount - entity.withdrawalPartnerAmount), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br/>
											<span th:class="${(entity.depositPayment - entity.withdrawalPayment) eq 0 ? '' : 'text-blue'}" th:text="${'(' + #numbers.formatDecimal((entity.depositPayment - entity.withdrawalPayment), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span>
										</td>
										<td>
											<button class="progress-bet btn btn-sm btn-default"
												th:text="#{partner.common.general.sales.summary}">General Sales Summary</button>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{partner.common.slot}">slot</span>
											</p>
											<p class="bg-white-grey" >
												<span th:text="#{partner.common.baccarat}">baccarat</span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.betAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.betAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.winningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.winningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.lostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.lostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${entity.gameType == 0 ? #numbers.formatDecimal(entity.batRolling, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${entity.gameType == 1 ? #numbers.formatDecimal(entity.batRolling, 1, 'COMMA', 2, 'POINT').replace('.00', '') : 0}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow"style="border-bottom: 1px solid #c1c	1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(entity.slotRate, 1, 'COMMA', 2, 'POINT').replace('.00', '') + '%'}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${#numbers.formatDecimal(entity.baccaratRate, 1, 'COMMA', 2, 'POINT').replace('.00', '') + '%'}"></span>
											</p>
										</td>
										<td>0%-0%</td>
										<td th:text="${entity.batRolling}"></td>
										<td th:if="${entity.status == 0}" th:text="#{partner.common.normal}">normal</td>
										<td th:if="${entity.status == 1}" th:text="#{partner.common.stop}">stop</td>
									</tr>
									<tr th:if="${#lists.isEmpty(storeList)}">
										<td colSpan="18" class="text-center" th:text="#{partner.common.noData}">No Data</td>
									</tr>
									<tr th:if="${not #lists.isEmpty(storeList)}" class="background-primary text-default" style="background-color: #cfe7ff; color: #004675;">
										<td th:text="#{partner.common.sum}">Sum</td>
										<td>-</td>
										<td>-</td>
										<td th:text="${#numbers.formatDecimal(memberCountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(depositMemberCountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>
											<span th:text="${#numbers.formatDecimal(depositMemberAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(depositPartnerAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(depositPaymentSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>
											<span th:text="${#numbers.formatDecimal(withdrawalMemberAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal(withdrawalPartnerAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal(withdrawalPaymentSum, 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>
											<span th:class="${(depositMemberAmountSum - withdrawalMemberAmountSum) eq 0 ? '' : 'text-blue'}" th:text="${#numbers.formatDecimal((depositMemberAmountSum - withdrawalMemberAmountSum), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
											<span class="text-primary" th:text="${'[' + #numbers.formatDecimal((depositPartnerAmountSum - withdrawalPartnerAmountSum), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ']'}"></span><br>
											<span class="title-pink" th:text="${'(' + #numbers.formatDecimal((depositPaymentSum - withdrawalPaymentSum), 1, 'COMMA', 2, 'POINT').replace('.00', '') + ')'}"></span><br>
										</td>
										<td>-</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{partner.common.slot}">slot</span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="#{partner.common.baccarat}">baccarat</span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotBatRollingSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratBatRollingSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span>-</span>
											</div>
											<div style="margin-top: 5px;">
												<span>-</span>
											</div>
										</td>
										<td>0</td>
										<td th:text="${slotBatRollingSum + baccaratBatRollingSum}"></td>
										<td>-</td>
									</tr>
		                           </tbody>
		                        </table>
		                    </div>		                        
		                </div>
	                	<div class="panel-footer">
		                    <a href="javascript: window.close();" class="btn btn-default" th:text="#{partner.common.close}"></a>
		                </div>
		    		</section>
		    	</section>
		    </div>
		</section>
		
		<script type="text/javascript" th:inline="javascript">
		    var url = [[${url}]];
		</script>
		
	    <script th:replace="template :: scripts"></script>
	    <script th:src="@{/assets/javascripts/partner/storeModalList.js}"></script>
	</body>
</html>