<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{partner.note.inquiry})"></head>

<body>
<section class="body">
    <div class="inner-wrapper">

        <section role="main" class="content-body">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">
                        <span th:text="#{partner.common.SentInbox}"></span>
                    </h2>
                </header>
                <div class="panel-body">
                    <div class="tabs tabs-primary">
                        <ul class="nav nav-tabs">
                            <li>
                                <a th:href="@{/note/receivedInbox}" th:text="#{partner.common.inbox}"></a>
                            </li>
                            <li>
                                <a th:href="@{/note/inquiry}" th:text="#{partner.common.SentInbox}"></a>
                            </li>
                            <li class="active">
                                <a href="#memoAdd"  th:text="#{partner.common.writeNote}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="readAllModal" class="modal fade" data-backdrop="static" tabindex="-1" role="basic" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" th:text="#{partner.common.readAll}"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div id="message" class="row">
                                                    <div class="input-item-div col-xs-12 message">
                                                        <span th:text="#{partner.common.readAll.msg}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button class="btn btn-primary modal-dismiss" type="button" onclick="readAll()">
                                                <span class="d-table-cell align-middle" th:text="#{partner.common.confirm}"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                <span class="d-table-cell align-middle" th:text="#{partner.common.cancel}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="deleteModal" class="modal fade" data-backdrop="static" tabindex="-1" role="basic" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" th:text="#{partner.common.delete}"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div id="message" class="row">
                                                    <div class="input-item-div col-xs-12 message">
                                                        <span th:text="#{partner.common.deleteMsg}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button class="btn btn-primary modal-dismiss" type="button" onclick="batchDelete();">
                                                <span class="d-table-cell align-middle" th:text="#{partner.common.confirm}"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                <span class="d-table-cell align-middle" th:text="#{partner.common.cancel}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="memoAdd"  class="tab-pane active">
                                <form method="post" th:object="${note}" id="pNoteForm">
                                    <div class="form-group">
                                        <div class="demo-icon-hover mb-sm mt-sm col-sm-2">
                                            <i class="fa fa-plus-square text-primary"></i> <span th:text="#{partner.common.title}"></span>:
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" name="title" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="demo-icon-hover mb-sm mt-sm col-sm-2">
                                            <i class="fa fa-plus-square text-primary"></i> <span th:text="#{partner.common.recipient}"></span>:
                                        </div>
                                        <div class="col-sm-8">
                                            <input value="운영팀" type="text" name="receiver" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="demo-icon-hover mb-sm mt-sm col-sm-2">
                                            <i class="fa fa-plus-square text-primary"></i> <span th:text="#{partner.common.date}"></span>:
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" data-plugin-datepicker class="form-control" name="sendTime" th:value="${today}"
                                                   data-date-format= "yyyy-mm-dd" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="demo-icon-hover mb-sm mt-sm col-sm-2">
                                            <i class="fa fa-plus-square text-primary"></i> <span th:text="#{partner.common.contents}"></span>:
                                        </div>
                                        <div class="col-sm-8">
                                            <textarea name="content" rows="5" class="form-control" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-11 text-center">
                                            <button class="btn btn-primary memo-add" ><span th:text="#{partner.common.toTheShipping}"></span></button>
                                            <a th:href="@{/note/inquiry}" class="btn btn-default" th:text="#{partner.common.list}"></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>

<script type="text/javascript" th:inline="javascript">
    var url = [[${url}]];
</script>

<script th:replace="template :: scripts"></script>

<script th:src="@{/assets/javascripts/page.js}"></script>
<script th:src="@{/assets/javascripts/note/note.js}"></script>

</body>
</html>