<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (|#{partner.common.member}| + ' ' + |#{partner.common.list}|)"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/partner/store.css}"/>
<body>
	<section class="body store">
	    <header th:replace="template :: header" class="header"></header>
	
	    <div class="inner-wrapper">
	        <aside th:replace="template :: sidebar" id="sidebar-left" class="sidebar-left"></aside>
	
	        <section role="main" class="content-body">
	            <section class="panel">
	                <div class="panel-body">
	                    <header class="panel-subTitle" style="padding:10px;">
        					<h2 class="panel-title">
        						<i style="font-size:15px;" class="fa fa-plus-square text-primary fav-icon"></i>
			                    <span th:text="|#{partner.common.member}| + ' ' + |#{partner.common.list}|" style="font-size: 15px;"></span>
		                    	(
		                    	<span th:text="#{partner.common.total}" style="font-size:15px;"></span>
		                        &nbsp;
		                        <span th:if="${page.total}" th:text="${page.total}" style="font-size:15px; color: red; display: inline-block; margin-bottom: 0;"></span>
		                        <span th:if="${page.total == null}" style="font-size:15px; color: red; display: inline-block; margin-bottom: 0;">0</span>
		                        &nbsp;
		                        <span th:text="#{partner.member.peopleInTotal}" style="font-size:15px;"></span>
		                        &nbsp;
		                        )
	                        </h2>
        				</header>
	                    <form class="form-inline search-form" th:action="@{/member/list}" id="formSearch" 
	                    method="get" th:object="${member}" style="margin:10px; background: linear-gradient(to bottom, white, #d8e4f1);">
	                        <div class="form-group">
	                        	<a class="btn btn-default modal-member-add"
	                        	 th:text="|#{partner.common.member}| + ' ' + |#{partner.common.registration}|"
	                        	 style="background: linear-gradient(to bottom, white, #b6d6f5);"></a>
	                        </div>
	                        <div class="form-group">
	                        	<label>
	                                <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                                <span th:text="#{partner.common.search} + ' ' +#{partner.common.item}"></span>
	                           </label>
	                            <label>
	                                <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                                <span th:text="#{partner.common.date}"></span>
	                                <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                                <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                           </label>
	                           <div class="input-daterange input-group" data-plugin-datepicker data-date-format="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
	                                <input type="text" class="form-control"  name="fromApplicationTime" th:field="*{fromApplicationTime}">
	                                <span class="input-group-addon">~</span>
	                                <input type="text" class="form-control" name="toApplicationTime" th:field="*{toApplicationTime}">
                              </div>
	                       </div>
	                       <div class="form-group">
	                           <select class="form-control" th:field="*{searchField}">
	                                <option value="id">[[#{partner.common.id}]]</option>
	                                <option value="nickname">[[#{partner.common.nickname}]]</option>
	                            </select>
	                            <label for="pageSize">
	                               <i class="fa fa-plus bg-primary" style="padding: 2px;"></i>
	                               <span th:text="#{partner.common.keyword}"></span>
	                           </label>
	                            <div class="input-group input-group-icon" style="width: 200px; display: inline-block;">
	                                <span class="input-group-addon">
	                                    <span class="icon"><i class="fa fa-search"></i></span>
	                                </span>
	                                <input type="text" class="form-control" th:field="*{searchValue}">
	                            </div>
	                           <button type="submit" class="btn btn-default">
	                           		<span th:text="#{partner.common.search}">Search</span>
	                                <i class="fa fa-search"></i>
	                           </button>
	                       </div>
	                   </form>
	                   <div class="table-responsive" style="margin: 10px;">
	                       <table class="table table-bordered table-striped store-list">
	                           <thead>
	                           	<tr>
	                            	<th th:text="#{partner.common.partner.id}"> Partner ID </th>
	                                <th th:text="#{partner.common.partner.nickname}"> Partner Nickname </th>
									<th th:text="#{partner.common.partner.level}"> Partner Level </th>
									<th th:text="#{partner.common.id}"> ID </th>
									<th th:text="#{partner.common.nickname}"> Nickname </th>
									<th th:text="#{partner.common.holdingAmount}"> Holding Amount </th>
									<th style="min-width: 250px;" th:text="#{partner.common.process}">Process</th>
									<th th:text="#{partner.member.payment}"> Payments </th>
									<th th:text="#{partner.member.collect}"> Collect </th>
									<th th:text="#{partner.member.payBack}"> pay-back </th>
									<th th:text="#{partner.common.status}"> Status </th>
									<th th:text="#{partner.common.deposit}"> Deposit </th>
									<th th:text="#{partner.common.withdraw}"> Withdraw </th>
									<th th:text="#{partner.member.differenceOfDepositAndWithdraw}"> Difference between Deposit and Withdraw </th>
									<th th:text="#{partner.common.type}"> type </th>
									<th th:text="#{partner.common.betAmount}"> Bet Amount </th>
									<th th:text="#{partner.bettingSummary.winningAmount}" > Winning Amount </th>
									<th th:text="#{partner.common.lost.amount}"> Lost Amount </th>
                        	   	</tr>
	                           </thead>
	                           <tbody>
	                               <tr th:each="entity, stat : ${page.records}">
		                           		<input type="hidden" class="member-seq" th:data-key="${entity.seq}"/>
	                                   	<td th:text="${entity.partnerId}"></td>
	                                   	<td th:text="${entity.partnerNickname}"></td>
										<td th:text="${entity.partnerLevel}"></td>
										<td >
											<button class="btn btn-default member-detail" th:data-key="${entity.seq}">
												<span th:text="${entity.id}" style="color: #0386c7;"></span>
											</button>
										</td>
										<td th:text="${entity.nickname}"></td>
										<td> 
											[[${#numbers.formatDecimal(entity.moneyAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
											<span class="text-danger">[</span>
                                            <span class="text-danger">
                                                [[${#numbers.formatDecimal(entity.casinoMoney, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
                                            </span>
                                            <span class="text-danger">]</span>
										</td>
										<td>
											<button class="progress-bet btn btn-sm btn-default"
												th:text="#{partner.common.bettingSummary}">Betting Summary</button>
											<button class="money-payment btn btn-sm btn-default"
												th:text="#{partner.common.moneyPayment}" th:data-key="${entity.seq}">Money Payment</button>
										</td>
										<td th:text="${#numbers.formatDecimal(entity.payment, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(entity.collect, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal((entity.payment-entity.collect), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:if="${entity.status == '0'}" th:text="#{partner.common.normal}">normal</td>
										<td th:if="${entity.status == '1'}" th:text="#{partner.common.stop}">stop</td>
										<td th:if="${entity.status == '2'}" th:text="#{partner.common.test}">test</td>
										<td th:if="${entity.status == '3'}" th:text="#{partner.common.judge}">judge</td>
										<td th:if="${entity.status == '4'}" th:text="#{partner.common.withdrawal}">withdrawal</td>
										<td th:text="${#numbers.formatDecimal(entity.deposit, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(entity.withdrawal, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal((entity.deposit-entity.withdrawal), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{partner.common.slot}">slot</span>
											</p>
											<p class="bg-white-grey" >
												<span th:text="#{partner.common.baccarat}">baccarat</span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${ #numbers.formatDecimal(entity.slotBettingAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${ #numbers.formatDecimal(entity.baccaratBettingAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span><br>
												(<span th:text="${ #numbers.formatDecimal(entity.baccaratVirtualBettingAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>)
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${ #numbers.formatDecimal(entity.slotWinningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${ #numbers.formatDecimal(entity.baccaratWinningAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</p>
										</td>
										<td>
											<p class="bg-white-yellow" style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${ #numbers.formatDecimal(entity.slotLostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</p>
											<p class="bg-white-grey">
												<span th:text="${ #numbers.formatDecimal(entity.baccaratLostAmount, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</p>
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(page.records)}">
										<td colSpan="16" class="text-center" th:text="#{partner.common.noData}">No Data</td>
									</tr>
									<tr th:if="${not #lists.isEmpty(page.records)}" class="background-primary text-default" style="background-color: #cfe7ff; color: #004675;">
										<td th:text="#{partner.common.sum}">Sum</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td th:text="${#numbers.formatDecimal(moneyAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>-</td>
										<td th:text="${#numbers.formatDecimal(paymentSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(collectSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal((paymentSum - collectSum), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>-</td>
										<td th:text="${#numbers.formatDecimal(depositSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal(withdrawalSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td th:text="${#numbers.formatDecimal((depositSum - withdrawalSum), 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="#{partner.common.slot}">slot</span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="#{partner.common.baccarat}">baccarat</span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratBetAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratWinningAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
										<td>
											<div style="border-bottom: 1px solid #c1c1c1; text-align:center;">
												<span th:text="${#numbers.formatDecimal(slotLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
											<div style="margin-top: 5px;">
												<span th:text="${#numbers.formatDecimal(baccaratLostAmountSum, 1, 'COMMA', 2, 'POINT').replace('.00', '')}"></span>
											</div>
										</td>
									</tr>
	                           </tbody>
	                        </table>
	                   </div>
	                   <div class="tab_cont customPage w99 t_center ptb15"></div>
	                </div>
	                
	                <div class="panel-footer">
                    </div>
	            </section>
	        </section>
	    </div>
	</section>

	<script type="text/javascript" th:inline="javascript">
		var page = [[${page}]];
		var url = [[${url}]];
	</script>

	<script th:replace="template :: scripts"></script>

	<script type="text/javascript" th:inline="javascript">
		createPagenation(page, url);
	</script>
	
	<script th:src="@{/assets/javascripts/member/memberList.js}"></script>
</body>
</html>