<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="template :: head (#{partner.member.modifyMemberHoldingMoney})"></head>
<link rel="stylesheet" th:href="@{/assets/stylesheets/partner/moneyChange.css}"/>
<body>
<section class="body member-money-change">
    <div class="row" id="modifyHoldingMoneyModal">
        <div role="main" class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 class="panel-title">
                        [[#{partner.member.modifyMemberHoldingMoney}]]
                    </h4>
                </header>
                <div class="panel-body">
                    <form id="member-holding-money-form" name="adminDeposit" class="form-horizontal form-bordered"
                          th:action="@{/member/updateHoldingMoney}" method="post">
                        <input type="hidden" name="memberSeq" th:value="${memberForm.seq}" />
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.common.id}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <p class="control-label" th:text="${memberForm.id}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.member.transactionClassification}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="transactionInc" name="transactionClassification" value="2" checked />
                                    <label for="transactionInc" th:text="#{partner.member.payment}">Payment</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="transactionDec" name="transactionClassification" value="3" />
                                    <label class="text-danger" for="transactionDec" th:text="#{partner.member.collect}">Collect</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.common.holdingAmount}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <input type="number" class="form-control" id="prevMoneyAmount" name="prevMoneyAmount"
                                       th:value="${memberForm.moneyAmount}"
                                       style="width: auto; text-align:right; display: inline-block;" readonly />
                                <span class="text-danger">[</span>
                                <span class="text-danger">
                                	[[${#numbers.formatDecimal(memberForm.deposit, 1, 'COMMA', 2, 'POINT').replace('.00', '')}]]
                                </span> 
                                <span class="text-danger">]</span>
                                <span for="prevMoneyAmount" class="help-block help-block-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.member.ownedMileage}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <input type="number" class="form-control" id="prevMileageAmount" name="prevMileageAmount"
                                       th:value="${memberForm.mileageAmount}"
                                       style="width: auto; text-align:right; display: inline-block;" readonly />
                                <span for="prevMileageAmount" class="help-block help-block-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.member.conversion}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <input type="number" class="form-control" id="variableAmount" name="variableAmount"
                                       style="width: auto; text-align:right; display: inline-block;" required />
                                <span for="variableAmount" class="help-block help-block-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-6 control-label">
                                [[#{partner.common.reason}]]
                            </label>
                            <div class="col-md-7 col-sm-6">
                                <textarea class="form-control" name="reason" data-plugin-textarea-autosize></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <footer class="panel-footer text-center">
                	<button class="btn btn-default update-holding-money" style="background-color:#0088cc;"><i class="fa fa-edit"></i>[[#{partner.common.run}]]</button>
                    <button onclick="javascript: window.close();" class="btn btn-default btn-danger"><i class="fa fa-times"></i>[[#{partner.common.closeTheWindow}]]</button>
                </footer>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript" th:inline="javascript">
        var url = [[${url}]];
    </script>

<script th:replace="template :: scripts"></script>
<script th:src="@{/assets/javascripts/member/money.change.js}"></script>
</body>
</html>